<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/d4cb0f35d2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <header>
        <nav>
            <span class="nav-all">
                <div class="nav-conteiner">

                    <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo-de-MercadoLiebre" />

                    <div class="search">
                        <input type="text" placeholder="Buscar productos, marcas y más" />
                        <button class="button" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>

                <p class="nav-tittle">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </span>

            <div class="navegation-conteiner">
                <ul class="navegation">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>

                <ul class="navegation">
                    <li>
                        <a href="/register">Creá tu cuenta</a>
                        <i class="fa-regular fa-id-card"></i>
                    </li>

                    <li>
                        <a href="/login">Ingresá</a>
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </li>

                    <li>
                        <a href="">Mis compras</a>
                        <i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
            </div>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>

        <img class="home-banner" src="/images/img-home-banner.jpg" alt="img-home-banner" />
    </header>

    <main>
        <div class="main-login">
            <div class="form-login">
                <form action="/">
                    <p class="text">Bienvenido a Mercado Liebre</p>
                    <label class="name-login">Nombre de Usuario:</label>
                    <input class="input-login" type="text" name="user" placeholder="Nombre de Usuario">
                    <label class="name-login">Ingrese su Contraseña:</label>
                    <input class="input-login" type="password" name="password" placeholder="Escriba su Contraseña">
                    <button class="boton-formulario" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <section class="align footer">
                <i class="fa-solid fa-credit-card i-footer"></i>
                <h4 class="footer-title">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <br>

            <section class="align footer">
                <i class="fa-solid fa-gifts i-footer"></i>
                <h4 class="footer-title">Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <br>

            <section class="align footer">
                <i class="fa-solid fa-user-shield i-footer"></i>
                <h4 class="footer-title">Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegidx.
                </p>
            </section>
            <br>
        </div>

        <h4 class="footer-tittle">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>

</body>

</html>