* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

/* -----------------HEADER--------------------- */

/* -------------------TOP HEADER------------------- */
.main-header {
  background-color: #EAC926;
  padding: 20px;
}

img.logo {
  width: 50vw;
  padding: 2px 2px 2px 2px;
}

.copy-header{
  width:100%;
  /* text-align: center; */
  font-weight: lighter;
  /* justify-content: center; */
} 

.copy-header i{
  font-size: 23px;
  margin: 5px 5px 5px 10px;
}
.copy-header span{
  font-size: 13px;
}
/* -----------------HEADER NAV-------------- */
.main-navbar{
  display: none;
}

.main-nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

/* ---------------BURGER MENU---------------- */

.hamburguer-button {
  background-color: #1259c3;
  display: flex;
  height: 40px;
  border-radius: 8px;
  margin: 10px auto;
  width: 40px;
 
}

.fa-bars{
  color: white;
  margin: auto;
  font-size: 20px;  
}
/* --------------BANNERR----------------------- */
section.banner img {
  width: 100%;
  height: auto;
}

/* -----------------MAIN------------------------- */

/* ------------FORMULARIO DE REGISTRO------------ */

.main-register{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
}

.create-form{
 padding:20px 15px;
}
.control-formulario{
  margin-bottom: 15px;   
}
.control-formulario label{
  margin-bottom: 5px;
  font-style: italic;
  display: block;
}
.control{
  width: 350px;
  padding: 8px 8px;
}
.boton-formulario{
  background-color: #39b54a;
  border: none;
  font-size: 20px;
  color: #ffff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 41px;
}
/*-----------------FOOTER-----------------*/

.article-footer{
    text-align: center;
    margin: 35px 55px;
}

 .i-footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.i-footer:hover{
    color: #666;
}

.align-footer{
    text-align: center;
}
.fa-credit-card{
    font-size: 2em;
    text-align: center;
}

.fa-gift{
    font-size: 2em;
    text-align: center; 
}

.fa-user-shield{
    font-size: 2em;
    text-align: center; 
}

.footer-title {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}

