* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

/* -----------------HEADER--------------------- */

/* -------------------TOP HEADER------------------- */
.main-header {
    background-color: #EAC926;
}
p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 5px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 11px;
    /* flex-wrap:nowrap; */
}
/* -----------------HEADER NAV-------------- */
.main-navbar{
    display: none;
}

.main-nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

/* ---------------BURGER MENU---------------- */

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
/* --------------BANNERR----------------------- */
section.banner img {
    width: 100%;
    height: auto;
}

/* ----------------------MAIN----------------- */

main {
    width: 90%;
    margin: 0 auto;
}

.last-visit,
.offers {
    display: flex;
    flex-wrap: wrap;
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3, .description {
    color: #666;
}


.description {
    display: none;
    margin-top: 20px;
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    position: relative;
    border-radius: 5px;
}

main section article img {
    width: 100%;
}

main section article i,
.discount {
    color: #39b54a;
}

.fa-truck:hover {
    transition: 1000ms;
    transform: rotate(-90deg);
}

main section article:hover .description {
    display: block;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

article .main-article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.price {
    font-size: 18px;
    width: 30%;
}

.discount {
    width: 70%;
}

.discount,
.description {
    font-size: 16px;
    font-weight: normal;
}

h3,
.description {
    color: #666;
}

.description {
    display: none;
    margin-top: 20px;
}

/*--------------------FOOTER---------------------*/

footer {
    text-align: center;
}

.footer-conteiner{
    display: flex;
    padding: 20px 2px 80px 2px;
}

.fa-credit-card {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.fa-gifts{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center; 
    
}
.fa-user-shield {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-gifts:hover {
    color: #666;
}

.fa-credit-card:hover {
    color: #666;
}

.fa-user-shield:hover {
    color: #666;
}

.footer-tittle{
    font-size: 13px;
}

/* .align-footer{
    text-align: center;
}
.fa-credit-card{
    text-align: center;
}
.fa-gift{
    font-size: 2em;
    text-align: center; 
}

.fa-user-shield{
    font-size: 2em;
    text-align: center; 
}
.footer-title {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}
.copyright{
    text-align: center;
    color: #000000;
} */




/*-----------------------BOTON LOGIN*-----------------------*/

.bottom-header-nav:hover {
    background-color: #3498db;
}

/* ---------------- MEDIAS TABLET------------------- */
@media (min-width: 361px) {
    
    header.top-header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }    
   header.top-header.logo{
        width: 30vw;
    }

   header.top-header.form.input.search{
        width: 40vw;
    }

    header.top-header.form.input.submit{
        width: 10vw;
    }

    header.top-header.p{
        width: 40vw;
        font-size: 18px;
    }
    
    main section article .description {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40vw;
    }

    main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .price, .discount{
        width: 50%;
    }
}


/*---------------MEDIAS NOTEBOOK---------------------*/
@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .img.logo{
        width: 40%;
    }
    
    div input.search{
        width: 310px;
        height: 30px;
        margin-left: 20px;
    }

    button.submit{
        width: 30px;
        height: 30px;   
    }

    .fa-hand-holding-usd{
        font-size: 20px;
    }

    .p{
        max-width: 350px;
        text-align: right;
        font-size: 15px;
    }   

    .hamburguer-button {
        display: none;
    }
        .main-navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .main-navbar ul {
        display: flex;
       
    }

    .main-navbar li {
        margin: 0 5px;  
    }

    .main-navbar li a {
        font-size: 15px;
    }
    main section article .description {
        display: block;
    }

    /* main section div.products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    } */
main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
    }

    .footer-conteiner {
        display: flex;
        padding: 80px;
    }
    .align-footer{
        padding-top: 30px;
    }
    .price{  
        text-align: left;
        font-size: 15px;
    }
    .discount{
        text-align: right;   
    }


/* --------------MEDIAS DESK----------- */
img.logo {
    width: 40%;
}

.main-header-top-bar,
.main-navbar {
    max-width: 1200px;
    margin: auto;
}

.main-header-top-bar {
    align-items: center;
}

.main-navbar li {
    margin: 0 10px;
}

.main-navbar a {
    font-size: 19px;
}

.footer-conteiner {
    display: flex;
    padding: 80px;
    justify-content: space-between;
}
}