*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 22px;
}

p{
    font-size: 16px;
}
/* -------------LOGO-SEARCH-HAND HOLDING------------- */
div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header .logo {
    width: 50%;
}

header .form{        
    width: auto;
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 0% 0% 0% 5%;
    
}
/* --------------BUSQUEDA----------- */


header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    width: 33vw;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
    text-align: center;
    font-size: 14px;
}
/* ------------------MENU TITLES----------- */
.menu-titles{
    display:none;
}    

header .menu-titles ul li{
    list-style-type: none;
    margin-left: 0%;
    padding:0%;
}

header .menu-titles ul li a{
    text-decoration: none;
    color: #000;
    display:inline-block;
    font-weight: bold;
    padding: 5px 0;
    font-size: 15px;
}

/* --------------BURGUER MENU------------ */
div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}
/* --------BANNER------------------- */
section.banner img{
    width: 100%;
}

/* --------------------MAIN-------------- */
div.last-visit{
    display: flex;
    flex-wrap: wrap;
}

div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 16px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount p {
    font-size: 20px;
    font-weight: normal;
    margin: 2%;
}

.description{
    font-size: 20px;
    font-weight: normal;
    margin: 2%;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}



main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

.fa-truck{
margin-right: -5%;
}

.fa-truck:hover{
    transition: 1000ms;
    transform: rotate(-90deg);
}

main section article:hover .description {
    display: block;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 0px;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.input-register{
    width: 85%;
}

.avatar{
    width: 65%;
}


/*---------------------FOOTER--------------------------------*/

footer{
    background: #ebebeb;
}

.article-footer{
    text-align: center;
    margin: 35px 55px;
}

 .i-footer {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.i-footer:hover{
    color: #666;
}

.align-footer{
    text-align: center;
}
.fa-credit-card{
    font-size: 2em;
    text-align: center;
    padding-top: 30px;
}

.fa-gift{
    font-size: 2em;
    text-align: center; 
}

.fa-user-shield{
    font-size: 2em;
    text-align: center; 
}

.footer-title {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}


/*------------------------------LOGIN--------------------------------------------*/

.login-btn:hover{
    background-color: #3498db;
}

main.login {
    font-size: 12px;
    padding: 2%;
    margin: 2%;
    text-align: center;   
}

.login input{
    width: 70%;
    padding: 3%;
    margin: 5%;    
}    

.login-button{
    background-color: rgb(37, 86, 221);
    color: #ebebeb;
    width: 30%;
    padding: 2%;
    margin: 2%;

}

.login-button:hover{
    background-color: darkblue;
}


/* ---------------------REGISTER------------------------- */

.register input{
    font-size: 12px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

.register h4 label{
    font-size: 14px;
}

.profile{
    font-size: 14px;
    padding: 2%;
    margin: 2%;
    text-align: left;
    width: 70%;
}

.interests{
    font-size: 14px;
    padding: 2%;
    margin: 2%;
}

.register-button{
    background-color: rgb(37, 86, 221);
    color: #ebebeb;
    width: 30%;
    padding: 2%;
    margin: 2%;
}


.register-button:hover{
    background-color: darkblue;
}




/*-------------------------------TABLET-------------------------------------------*/


@media (min-width: 361px){
    main section article .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
        padding: 2%;
    }
    header nav.menu-titles{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }   
    .menu-titles ul{
        display: flex;
    }

    .menu-titles li{
        margin: 0 5px;
    }
   
.burger-menu{
    display:none
}

header.form{
    justify-content: center;
    font-size: 18px;
    }


}
@media (min-width: 769px){
    
   
    header div.logo{
        width: 50%;   
    }

    header.form{
        font-size: 22px;   
    }

    main section div.products article{
        width: 22%;
    }
}


@media (min-width: 1024px){
    header nav .menu-titles{
        font-size: 22px;
    }

    header p{
        font-size: 22px;
    }

    .form{
        font-size: 28px;
    }
}